**/*.o
**/*.pyc
**/__pycache__/
.idea/
.vscode/
**/workbench/
**/deploy/
**/*.log
**/harness
**/harness/uut.c
**/local.json
apps/bearssl-0.6/microsampler_tests/build/v1
.gitignore
apps/bearssl-0.6/microsampler_tests/build/v1_fence
apps/bearssl-0.6/microsampler_tests/build/v1_fence.dump
apps/bearssl-0.6/microsampler_tests/build/v1_warmup
apps/bearssl-0.6/microsampler_tests/build/v1_warmup.dump
apps/bearssl-0.6/microsampler_tests/build/v1.dump
apps/bearssl-0.6/microsampler_tests/build/v2
apps/bearssl-0.6/microsampler_tests/build/v2_fence
apps/bearssl-0.6/microsampler_tests/build/v2_fence.dump
apps/bearssl-0.6/microsampler_tests/build/v2_warmup
apps/bearssl-0.6/microsampler_tests/build/v2.dump
apps/bearssl-0.6/microsampler_tests/build/v3
apps/bearssl-0.6/microsampler_tests/build/v2_warmup.dump
apps/bearssl-0.6/microsampler_tests/build/v3_fence.dump
apps/bearssl-0.6/microsampler_tests/build/v3_fence
apps/bearssl-0.6/microsampler_tests/build/v3_warmup
apps/bearssl-0.6/microsampler_tests/build/v3_warmup.dump
apps/bearssl-0.6/microsampler_tests/build/v3.dump
.gitignore
logs/diagnostics/ct_ccopy_verbose_100k/stdout.txt
logs/diagnostics/ct_ccopy_delayed_trace/stdout.txt
logs/DESIGN/SUITE/APP/ITERS/KEY/stdout.txt
logs/DESIGN/SUITE/APP/ITERS/KEY/out-all-asm.log.gz
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/uarch.pickle
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/timing_stats.pdf
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/stats-0.9_0.1.pdf
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/stdout.txt
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/sets.pickle
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/out-all-asm.log.gz
logs/baseline/microbench/ct_ccopy/100/0xaa-manual-backup-20260828/miss_stats.csv
logs/baseline/microbench/ct_ccopy/100/0xaa/uarch.pickle
logs/baseline/microbench/ct_ccopy/100/0xaa/timing_stats.pdf
logs/baseline/microbench/ct_ccopy/100/0xaa/stdout.txt
logs/baseline/microbench/ct_ccopy/100/0xaa/stats-0.9_0.1.pdf
logs/baseline/microbench/ct_ccopy/100/0xaa/sets.pickle
logs/baseline/microbench/ct_ccopy/100/0xaa/out-all-asm.log.gz
logs/baseline/microbench/ct_ccopy/100/0xaa/miss_stats.csv
logs/baseline/bearssl_synthetic/v2/100/0xaa/stdout.txt
/automation/crosscompiler-experiment/builds/
/automation/crosscompiler-experiment/toolchains/
/automation/crosscompiler-experiment/sources/
/automation/crosscompiler-experiment/logs/
/automation/crosscompiler-experiment/tmp/